@import url(./assets/css/header.css);
@import url(./assets/css/main.css);
@import url(./assets/css/footer.css);

:root{
    --fundo-claro: #243e8b;
    --fundo-escuro: #101524;

}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #B7B7B7;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-decoration: none;

}

html{
    font-size: 62.5%;
}
body{
    display: flex;
}
#fundo{
    width: 38.5rem;
    background-image: linear-gradient(to bottom,  var(--fundo-escuro) 60%,  var(--fundo-claro) 100%  );
}
audio { display: none; /* Oculta o player de áudio */ }

@media (max-width: 480px){
    #img-fundo{
        background-image: none;
    }
    #fundo{
        height: 93.2em;
        width: 435em;
       
    }
    #arrow{
        margin-top: 2em;
    }
}